@page
@using King_Price_Assessment.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row table-toolbar">
        <div class="d-flex justify-content-between mt-3 g-0">
            <h3>Users</h3>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal" onclick="setModal('add')">
                <span class="material-symbols-outlined mt-1" >Add</span>
            </button>           
        </div>
       
    </div>
    <div class="row table-content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Groups</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (User user in Model.Users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.Surname</td>
                        <td>@user.Groups</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal" onclick="setModal('edit#@user.Id')" id="edit-@user.Id">
                                <span class="material-symbols-outlined mt-1">edit</span>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-felete" id="delete-@user.Id">
                                <span class="material-symbols-outlined mt-1">delete</span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
    <div class="row">
        <div class="d-flex justify-content-between mt-3 g-0">
            <p>Total:</p>
            <p>@Model.UserCount</p>
        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-label">Add User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column">
                            <div>
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="input-first-name" placeholder="First Name">
                            </div>
                            <div>
                                <label for="surname" class="form-label">Surname</label>
                                <input type="text" class="form-control" id="input-surname" placeholder="Surname">
                            </div>
                            <div>
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="input-email" placeholder="Email">
                            </div>
                            <div>
                                <label for="phone-number" class="form-label">Phone Number</label>
                                <input type="number" class="form-control" id="input-phone-number" placeholder="Phone Number">
                            </div>
                        </div>
                       
                    </div>
                    <div class="col">
                        <label for="groups" class="form-label">Groups</label>
                        <select class="form-select" multiple aria-label="Multiple select example" id="input-groups">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="add-btn-label" data-bs-dismiss="modal" onclick="addUser(event)">Add User</button>
                <button type="button" class="btn btn-outline-primary" id="edit-btn-label" data-bs-dismiss="modal" onclick="editUser(event)" style="display:none">Update User</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete-modal-label">Delete User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer d-flex justify-content-between">              
                <button type="button" class="btn btn-outline-primary mr-2" data-bs-dismiss="modal">No, they can stay.</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Yes, Delete them.</button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success" role="alert" id="success-alert" style="display:none">
    User saved successfully;
</div>

<div class="alert alert-danger" role="alert" id="failure-alert" style="display:none">
    An Error Occurred. 
</div>

<script>
    let rowId;

    $('#modal').on('shown.bs.modal', function (e) {
        $('#myInput').trigger('focus');
    })

    $('#modal-delete').on('shown.bs.modal', function (e) {
        $('#myInput').trigger('focus');
    })

    function setModal(trigger){
        if (trigger === "add") {
            $("#modal-label").html("Add User");
            $("#edit-btn-label").css("display", "none");
            $("#add-btn-label").css("display", "block");
        } else if (trigger.includes("edit")) {
            rowId = trigger.split("#")[1];
            $("#modal-label").html("Edit User");
            $("#add-btn-label").css("display", "none");
            $("#edit-btn-label").css("display", "block");
        }
    }

    function hideSuccessBanner(){
        $("#success-alert").css("display", "none");
    }

    function hideFailureBanner() {
        $("#failure-alert").css("display", "none");
    }

    function getUserDataFromForm(){
        return userData = {
            FirstName: $("#input-first-name").val(),
            Surname: $("#input-surname").val(),
            PhoneNumber: $("#input-phone-number").val(),
            Email: $("#input-email").val(),
            Groups: $("#input-groups").val(),
        };
    }

    function addUser(e){
        let userData = getUserDataFromForm();

        $.ajax({
            url: "/User/Post",
            type: 'POST',
            data: {
                values: JSON.stringify(getUserDataFromForm()),
            },
            success: function (res) {
                $("#success-alert").css("display", "block");
                $("#success-alert").html = "User addded successfully";
                setTimeout(hideSuccessBanner, 3000);
            },
            error: function (err) {
                $("#failure-alert").css("display", "block");
                setTimeout(hideFailureBanner, 3000);
                console.error(JSON.stringify(err));
            }
        })
    }

    function editUser(e) {
        let userData = getUserDataFromForm();

        $.ajax({
            url: "/User/Put",
            type: 'PUT',
            data: {
                id: rowId,
                values: JSON.stringify(getUserDataFromForm()),
            },
            success: function (res) {
                $("#success-alert").css("display", "block");
                $("#success-alert").html = "User updated successfully";
                setTimeout(hideSuccessBanner, 3000);
            },
            error: function (err) {
                $("#failure-alert").css("display", "block");
                setTimeout(hideFailureBanner, 3000);
                console.error(JSON.stringify(err));
            }
        })
    }

    function deleteUser() {

    }
</script>

